.section-2{
    margin: 10px 0;
    .sec2_inner{
        border: 1px solid #cfcfcf;
        padding: 10px 10px 5px 10px;
        width: 100%;
        background-color: $bg;
        margin-top: 24px;
        .img_wrapper{
            display: flex;
            justify-content: center;
            height: 220px;
            overflow: hidden;
        img{
            max-height: 100%;
            max-width: 100%;
            border-radius: 5px;
            &:hover{
                transform: scale(1.2);
                transition: all linear .5s;
            }
        }
     }
     h4{
         font-size: 19px;
         color: $primaryColor;
         font-weight: 500;
         padding-top: 10px;
         &:hover{
             color: $black;
         }
     }
    }
    .advartise{
        height: 700px;
        text-align: center;
        img{
            max-width: 100%;
            width: 88%;
        }
    }
}